<div class="main_primary">
<h1 class="white-txt">Edit Staff Information</h1>

<div class="container-form">
<div class="row">
  <div class="col s12 m6 offset-m3 container">
    <%= render "form" %>
		<%= link_to 'Show', @staff %> |
		<%= link_to 'Back', staffs_path %>
  </div>
</div>
</div>
</div>