<div class="main">
	<h3>MUSIC CLEARANCE</h3>
	<p class="home">Researching who owns the rights to both the Master Recording and Publishing (songwriters) then negotiating terms and fees specifically for your needs.</p>

	<h3>MUSIC LICENSING</h3>
	<p class="home">Reviewing and negotiating any specific changes or alterations with the contracts between client and music rights holders, making sure they are fully-executed (signed by both parties) and delivered along with payment to rights holders.</p>

	<h3>MUSIC SUPERVISION</h3>
	<p class="home">This spans the entire creative process from selecting a composer to create original music, to the selection of pre-existing music for your production and soundtrack.</p>

	<!-- <h3>MUSICOLOGY SERVICES</h3>
	<p class="home">In conjuncture with Denise Carver, Ph.D., Esq. we are able to assist clients with music copyright & public domain research, musical analysis, risk assessment, detailed musicology reports and much more.</p>
	<p><-->
</div>
