<header>
<%= link_to image_tag("Speaker-with-Logo.png", :class => 'responsive-img') %>
	<div class="tagline">
		<h1>WELCOME TO MCL MUSIC SERVICES</h1>
		<h2 class="thin">Your one-stop solution to all things music.</h2>
	</div>
</header>

<%= render "home/services" %>

</div>

