<div class="main_primary">
<h1 class="white-txt">Editing Film</h1>
	<div class="container-form">
		<div class="row">
		  <div class="col s12 m6 offset-m3 container">
			<%= render 'form' %>
			<%= link_to 'Show', @film %> |
			<%= link_to 'Back', films_path %>
			</div>
		</div>
	</div>
</div>