<div class="main_primary">
<h1 class="white-txt">Edit Indie Film</h1>
	<div class="container-form">
	  <div class="form">
		<%= render 'form' %>
		<!-- <%= render "shared/formatting"  %> -->
		</div>
	</div>
</div>