<div class="main_background">
	<h1>Musicology Services</h1>
		<div class="musicology">   
	  
		<p>Effective Spring of 2015, MCL Music Services Inc. in conjunction with Denise Carver, Ph.D., Esq. will be able to assist clients with projects requiring the services of a professional musicologist. Musicology services will include:</p>
			<div class="bullets">
				<ul>
					<li>Music Copyright & Public Domain Research</li>
					<li>Musical Analysis</li>
					<li>Prior Art Research</li>
					<li>Risk Assessment</li>
					<li>Detailed Musicology and Copyright Reports</li>
					<li>Genre Research: <em>Blues, Gospel, Spirituals, Hymns, Folk, Americana, Opera, Choral, Jazz, Classical, Global Music, etc.</em></li>
					<li>Providing Public Domain Music & Lyrics for Film & TV Re-records</li>
				</ul>
			</div>
	</div>
<!-- <div class="divider"></div> -->
	<div class="staff_frame">
	<%= image_tag("DeniseCarver.jpg", :class => "staff_img") %>
		<h3>DENISE CARVER, PH.D., ESQ.</h3>
		<p>
		Dr. Carver holds a Ph.D. in music composition and is a licensed California attorney. Her experience includes four years of teaching music theory and composition at the University of California and a 23-year residence at Paramount Pictures, where as Vice President of Music she contributed to the	success of more than 300 films, numerous marketing campaigns and many film soundtrack albums. She has worked with many highly successful directors, actors, and production companies, as well as with numerous top tier musical artists, songwriters and composers. She has also served as a speaker and panelist at a variety of music industry events. 
		</p>
	</div>
</div>

