@import "_variables";


a {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: lighten($secondary, 10%);
  }
}

html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 14px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 14.5px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 15px;
  }

  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.1;
}

// Header Styles
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit;}
h1 { font-size: $h1-fontsize; line-height: 110%; margin: 0 0 ($h1-fontsize / 4) 0; color: $primary; text-align: center; margin-top: 20px;}
h1.staff { font-size: $h1-fontsize; line-height: 110%; margin: 0 0 ($h1-fontsize / 4) 0; color: $primary; text-align: left; margin-top: 20px;}

h2 { font-size: $h2-fontsize; line-height: 130%; margin: ($h2-fontsize / 4) 0 ($h2-fontsize / 4) 0; color: lighten($black, 50%);   text-align: center;}
h3 { font-size: $h3-fontsize; line-height: 110%; margin: ($h3-fontsize / 1) 0 ($h3-fontsize / 5) 0; color: $primary; font-weight: 700; 
  // padding-top: 10px;
}
h4 { font-size: $h4-fontsize; line-height: 110%; margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0; color: lighten($black, 50%);}
h5 { font-size: $h5-fontsize; line-height: 110%; margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0; color: $primary; font-weight: 700; }
h6 { font-size: $h6-fontsize; line-height: 110%; margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0; color: lighten($black, 50%);}

// Text Styles
em { font-style: italic; }
strong { font-weight: 700; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }

p {
  color: lighten($black, 50%);
  font-weight: 300;
  line-height: 160%;
  font-size: $p-fontsize;
  padding-bottom: 10px;
  orphans: 0;
  text-align: justify;
  @media #{$medium-and-down} {
    text-align: left;
  }
}

.divider {
  border-top: 1pt solid $primary;
  margin: 20px;
}

#notice {
  color: $primary;
  font-weight: 500;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  // padding-bottom: 5px;

}

span.client_name {
  font-size: $h1-fontsize;
  padding: 10px 10px 10px 0;
  color: lighten($black, 50%);
  text-align: center; 
  font-weight: 200;
}

span.network_name {
  font-size: $h1-fontsize;
  padding: 10px 10px 10px 0;
  // color: lighten($primary, 50%);
  color: $secondary;
  text-align: center; 
  font-weight: 100;
}

span.network_name_index {
  font-size: $h6-fontsize;
  padding: 10px 10px 10px 0;
  // color: lighten($primary, 50%);
  color: $secondary;
  text-align: center; 
  font-weight: 100;
}

span.subtitle {
  font-size: $h4-fontsize;
  font-weight: 300;
  padding: 10px 10px 20px 0;
  color: lighten($black, 70%);
  text-align: center;  // float: right;
}

span.year {
  font-size: $h2-fontsize;
  padding: 10px 10px 20px 0;
  color: lighten($black, 70%);
  // text-align: center;  
  // float: right;
}

.secondary {
  color: $secondary;
  margin-left: -5px;
}

span.email {
  font-size: $h3-fontsize;
  // padding: 10px 10px 0 0;
  // color: lighten($black, 50%);
  text-align: center; 
  font-weight: 300;
}

// span.b_link {
//   font-weight: 700;
//   a {
//   text-decoration: none;
//   color: lighten($black, 50%);

//   &:hover {
//     color: $primary;
//   }
// }
// }

.white-txt,
.errors {
  color: white;
  margin-top: 20px;
}


.bullets {
  color: lighten($black, 50%);
  font-weight: 300;
  line-height: 130%;
  font-size: 14pt;
  padding-bottom: 10px;
  margin: 0 20%;
  orphans: 0;
  li {
    padding-bottom: 10px;
    list-style-type: circle;
  }
}

.flow-text{
  font-weight: 300;
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }



  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}