@import "compass";
@import "compass/layout";

@import "media.scss";
@import "mixins.scss";
@import "variables.scss";

body {
  // background-image: $lt-texture;
  background-color: $primary;
  margin: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main_primary {
  background-color: $primary;
  padding: 0 5%;
  flex: 1 0 auto;
}

.main_background {
  background-image: $lt-texture;
  padding: 0 5%;
  flex: 1 0 auto;
  // padding: 10px;
}
.bar {
	// background-color: $primary;
	background-image: $lt-texture;
	height: 10px;
}

// images
.responsive-logo {
  max-width: 25%;
  padding: 10px 25px;
  vertical-align: center;
  min-width: 250px;
  float: left;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  width: 100%;
  background-size: cover;
  margin-bottom: 0;
}

.grid-img {
  padding: 10px 0 10px 0;
  max-width: 100%;
  height: auto;
  width: 100%;
  margin-bottom: 0;
}

.staff_img {
  max-width: 200px;
  float: left;
  padding-right: 20px;
  margin: 10px;
}

// home & admin
.modal_box {
  background-color: white;
  padding: 3%;
  border-radius: 10px;
  margin: 10px;
  text-align: left;
  @media #{$small-and-down} {
    padding: 10px;
    }
}

.tagline  {
  background-image: $lt-texture;
  padding: 10px;
}

.main {
  background-image: $base-texture;
  padding: 0 10%;
  flex: 1 0 auto;
}



.client_row {
  margin: auto;
  padding: 20px;
}

.client_logo {
  max-width: 200px;
}

.poster_thumb {
  max-height: 200px;
  z-index: 2;
  cursor: pointer;
  display:inline-block;
  &:hover {
    box-shadow: 1px 1px 10px lighten($black, 50%); 
  }
}

.poster {
  max-height: 400px;
  float: left;
  padding-right: 20px;
  margin: auto;
}
.poster_index {
  padding: 20px 20px 0 20px;
}


.left_col {
  // margin-left: 10%;
  margin-right: 2%;
  float: left;
  width: 45%;
  @media #{$medium-and-down} {
    width: 100%
  }
}

.right_col {
  margin-left: 2%;
  // margin-right: 10%;
  clear: right;
  float: right;
  width: 45%;
}

.staff_frame {
  background-image: $base-texture;
  border-radius: 10px;
  margin: 1% 5%;
  padding: 10px 30px 20px 20px;
  min-height: 310px;
  // padding-bottom: 20px;

}

.project_frame {
  // border: 1pt solid $primary;
  background-image: $lt-texture;
  padding: 20px;
  // margin: 2% 10%;
  // min-height: 440px;
  border-radius: 10px;
  width: 100%;
  // overflow-y: hidden;
  overflow-x: scroll;
  white-space:nowrap;
  // overflow: auto;
  box-shadow: inset 1px 1px 20px lighten($black, 80%);
  height: 340px;
}

.film_frame {
  border: 1pt solid $primary;
  background-color: $white;
  padding: 20px;
  margin: 2% 10%;
  min-height: 440px;
  border-radius: 10px;
}

.musicology {
  margin: 1% 10%;
}

// }

.film_card {
  border: 1pt solid red;
  margin: 10px;
  border-radius: 40px;
  background-image: $base-texture;
}

.admin_box {
  padding: 5px 0 10px 0;
  text-align: center;
}

.admin_options {
  color: $black;
  text-align: center;
}

.map {
  float: right;
  // padding: 20px 0 20px 20px;
    @media #{$medium-and-down} {
    float: none;
    // clear: both;
  }

}

.no_margin {
  margin:0px;
}

.parallax{
  position:static;
}

.clear {
  clear: none;
  @media #{$medium-and-down} {
  clear: both;
  }
}

.info {
  // border: 1pt solid gray;
  overflow: auto;
}

.form {
  padding: 2% 5%;
}

.header {
  background-color: $white;
}