<h1>Formatting</h1>
<h5>Paragraphs</h5>
<p>Use two new lines to start a new paragraph.</p>
<h5><strong>Bold</strong></h5>
<p>**New** show title.</p>


<h5><em>Emphasis</em></h5>
<p>Titles should be *Italicized*.</p>


<h5>Lists</h5>
<p>Ingredients:

- Eggs
- Oil
- *Optional:* milk</p>


<h5>Links</h5>
<p>To download a PDF version of the recipe, [click here](https://example.com/scrambled-eggs.pdf).</p>

<h5>Images</h5>
<p>![The Finished Dish](https://example.com/eggs.png)</p>


